body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// 页头面包屑导航标题
.ant-page-header-heading-title {
  font-size: 16px;
}

// 菜单字体
.ant-menu-item {
  font-weight: bolder;
}

// 可点击文字
.action-text {
  color: #1890ff;
  cursor: pointer;
  transition: all 0.3s;
  touch-action: manipulation;
}

.action-text:hover {
  color: #40a9ff;
}
